<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emp.sawon.dao.SawonDao">
    <select id="getAllSawon" resultType="sawonVo">
        SELECT id, name, tel FROM teltable55
    </select>
</mapper>


<!--
    where id=#{id}
-->